.login-page {
    margin-top: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 0 12px;
    margin: auto;
}

.title {
    font-size: 40px;
    font-family: 'Gotham Light';
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-block: 15px;
    font-size: 13px;
}

.remember {
    position: relative;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 13px;
        width: 13px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    input:checked + .checkmark {
        background-color: #000;
        box-shadow: inset 0 0 0 2px #fff;
    }

    label {
        margin-left: 18px;
        cursor: pointer;
    }
}

.forgot {
    a {
        text-decoration: underline;

        &:hover {
            color: #898989;
        }
    }
}

.login-with {
    margin-block: 15px;
    position: relative;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        border-bottom: 1px solid #000;
        z-index: -1;
    }

    span {
        font-size: 13px;
        background: #fff;
        padding-inline: 12px;
    }
}

.login-with-buttons {
    display: flex;
    justify-content: space-between;

    .button {
        width: 48%;
    }

    .icon {
        font-size: 16px;
    }

    .text {
        margin-left: 15px;
    }
}

.register {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;

    a {
        background: #000;
        border-radius: 3px;
        color: #fff;
        padding: 4px 6px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.button {
    width: 100%;
}
