.register-page {
    margin-top: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 0 12px;
    margin: auto;
}

.title {
    font-size: 40px;
    font-family: 'Gotham Light';
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

.accept {
    margin-block: 15px;

    input {
        display: none;
    }

    .checkmark {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    input:checked + .checkmark {
        background: #000;
        box-shadow: inset 0 0 0 2px #fff;
    }

    label {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 13px;
    }

    .form-error {
        font-size: 11px;
        margin-bottom: 15px;
        color: red;
        display: block;

        &::before {
            content: '* ';
            font-size: 13px;
        }
    }
}

.login {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;

    a {
        background: #000;
        border-radius: 3px;
        color: #fff;
        padding: 4px 6px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.button {
    width: 100%;
}
