@import './Variables.scss';

//Font
@font-face {
    font-family: 'Gotham Light';
    src: url('../../assets/fonts/SVN_Gotham_Light.woff');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../../assets/fonts/SVN_Gotham_Book.woff');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../../assets/fonts/SVN_Gotham_Bold.woff');
}

//Init css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Book';
    user-select: none;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #363535;
    border-radius: 10px;
}
