//Font

//Variable

//Init css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}
