.product-card {
    display: block;
    width: 100%;
}

.product-images {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(#000000, 0.05);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(#000000, 0.1);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: inherit;

        &.image-hover {
            z-index: -1;
        }
    }

    &:hover {
        .image-hover {
            z-index: 1;
        }
    }
}

.product-name {
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    font-weight: normal;
}

.product-price {
    text-align: center;
    letter-spacing: 1px;
    color: #666666;
}
